body {
    width: 950px;
    margin: 0 auto;
    background-color: #ff9100;
    font-size: 27px;
    font-family: Times, serif;
    color: #fff700;
  }

  header[role="banner"] {
    margin-top: 20px;
    height: 135px;
    border: solid 10px rgb(255, 140, 0);
    border-style: initial;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    color: #fff701;
    text-shadow: 0 1px 1px rgba(236, 86, 11, 0.874);
    margin: 5px 0 0 0;
  }
  